h1= title

div(style='width:760px;')
	table
		tr
			th.content 번호
			th.content 게시판 명
			th.content 글 번호
			th.content 이름
			th.content 내용
			th.content 날짜
			-for(var i=0; i<docs.length; i++)
				-if(docs[i]){
					tr
						td.content #{i+1}
						td.content 
							a(href='/board/#{docs[i].board_id}', style="color:black;") #{docs[i].board_id}
						td.content #{docs[i].post_index}	
						td.content #{docs[i].user_name}
						td.content
							a(href='/board/#{docs[i].board_id}/#{docs[i].post_index}', style="color:black;") #{docs[i].content}
						td.content #{docs[i].insert_date}
				-}
	input(type='button', name='back_button', onClick='javascript:history.go(-1)', value='이전 페이지로')