script	
	function gotoPage(i){
		location.href='/board?page=' + i;
	}

h1= title

p #{sessionId} 님이 로그인 하셨습니다.

div(style='width:760px;')
	form(method='post', action='/board_search', align='right')
		select(id='type', name='type')
			option(value='Id') 아이디
			option(value='subject') 제목
			option(value='memo') 내용
			option(value='name') 이름
		input(type='text', id='content', name='content')
		input(type='submit', id='search_button', value='검색')
	table
		tr
			th.content No
			th.content Subject
			th.content User
			th.content Date
			-for(var i=docs.length-(NowPage-1)*5; i>=docs.length-(NowPage*5)+1; i--)
				-if(docs[i-1]){
					tr
						td.content #{i}
						td.content
							a(href='/board/#{docs[i-1].no}?id=#{id}') #{docs[i-1].subject}	
						td.content #{docs[i-1].name}
						td.content #{docs[i-1].date}
				-}
	
	-for(var i=0; 0<docs.length-(i*5); i++)	
		center
			a(herf='#', onClick="gotoPage(#{i+1})") [#{i+1}]
	input( type ='button', id='write', value='write', onClick='location.href="/write?id=#{id}"')

input( type ='button', id='userlist', value='유저 리스트', onClick="location.href='/admin/userlists'")
