script	
	function boardWrite(){
		location.href="/write";
	}

	function gotoPage(i){
		location.href='/board?page=' + i;
	}

	function gotoIdView(i){
		location.href='/board/' + i;	
	}
	
	function userlistView(){
		location.href='/admin/userlists';
	}

h1= title

p #{sessionId} 님이 로그인 하셨습니다.

-for(var i=docs.length-(NowPage-1)*5; i>=docs.length-(NowPage*5)+1; i--)
	-if(docs[i-1]){
		a(herf='#', style="color:black;", onClick="gotoIdView(#{docs[i-1].no})") #{i}, #{docs[i-1].subject}, #{docs[i-1].name}	
		br
		br
	-}

-for(var i=0; 0<docs.length-(i*5); i++)	
	a(herf='#', onClick="gotoPage(#{i+1})") [#{i+1}] 

br
br
input( type ='button', id='write', value='write', onClick="boardWrite()")

input( type ='button', id='userlist', value='유저 리스트', onClick="userlistView()")
