script
	function boardModify(i){
		location.href='/modify?no=' + i;
	}
	
	function boardDelete(i){
		location.href='/delete?no=' + i;	
	}

h1= title

table
	tr
		td.content.title #{board.subject}
		td.content.user(width='200', align='right') #{board.name}
	tr
		td.content #{board.no}
		td.content #{board.date}
	tr
		td.content(colspan='2') #{board.memo}		
	tr
		td.content(colspan='2', align='right')
			input( type ='button', id='modify', value='수정', onClick="boardModify(#{board.no})")
			input( type ='button', id='delete', value='제거', onClick="boardDelete(#{board.no})")


-for(var i=0; i<comm.length; i++)
	-if(comm[i])
		p #{comm[i].Id} : #{comm[i].comment}


br
form(method='post', action='/comment_write')
	table
		tr
			td	
				p Comment : 
			td	
				input(type='textbox', id='commentForm', name='commentForm')	
			td	
				input(type='hidden', id='boardNoForm', name='boardNoForm', value=board.no)
			td	
				p password : 
			td	
				input(type='password', id='passwordForm', name='passwordForm')
		tr
			td	
				input(type = 'submit', id = 'commentWriteButton', name = 'commentWriteButton', value = '달기')	