script(src="/javascript/common.js")

h1= title

form(method='post', name='modify_form', action = '/update')
	table
		tr
			td.content No
			td.content #{docs.no}
				input(type='hidden', name='no', value='#{docs.no}')
				input(type='hidden', name='id', value='#{id}')
			
		tr
			td.content Subject
			td.content
				input(
					type='textbox'
					,id = 'subjectForm'
					,name = 'subjectForm'
					,value = docs.subject
				)

		tr
			td.content Name
			td.content #{docs.name}
				input(
					type='hidden'
					,id = 'nameForm'
					,name = 'nameForm'
					,value = docs.name
				)
		tr
			td.content Memo
			td.content
				textarea(name='memoForm', value='#{docs.memo}') #{docs.memo}
						
	input(
		type = 'button'
		,id = 'modifyButton'
		,name = 'modifyButton'
		,value = '수정'
		,onClick = 'call_confirm_post("정말 수정하시겠습니까","modify_form")'
	)
