html
	head
		title
			프로젝트 구름 :: 사용방법 > 메뉴얼
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='stylesheet', type='text/css', href='../css/common.css')
		link(rel='stylesheet', type='text/css', href='../css/sub04/sub02.css')
		link(rel='stylesheet', type='text/css', href='../css/cloud.css')
		link(rel='shortcut icon', href='/images/favicon.gif')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumPenWeb', rel='stylesheet', type='text/css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb', rel='stylesheet', type='text/css')
		script(src="http://code.jquery.com/jquery-1.7.2.min.js", type="text/javascript")
		script(src='/javascript/common.js', type='text/javascript', charset='utf-8')
		script(src='/javascript/submit_enter.js', type='text/javascript', charset='utf-8')

	body(oncontextmenu="return false",onselectstart="return false",ondragstart="return false")
		#viewport
			#backgrounds
				img(src='/images/cloud/cloud_01.png', style='width: 630px; opacity:0.3; position:absolute; top:230; left:50%; margin-left:-730px;')
				img(src='/images/cloud/cloud_02.png', style='width: 630px; opacity:0.4; position:absolute; top:30; left:50%; margin-left:220px;')
				img(src='/images/cloud/cloud_03.png', style='width: 740px; opacity:0.2; position:absolute; top:730; left:50%; margin-left:-820px;')
				img(src='/images/cloud/cloud_03.png', style='width: 630px; opacity:0.5; position:absolute; top:930; left:50%; margin-left:220px;')
				img(src='/images/cloud/cloud_04.png', style='width: 630px; opacity:0.5; position:absolute; top:430; left:50%; margin-left:500px;')

			#world(style='opacity:0.7')
		include ../common/header.jade
		include ../common/mainMenu.jade
		include ../common/subMenu/subMenu04.jade
		script(type="text/javascript")
			$("document").ready(function() {
				$("#menu4_2").attr("style", "opacity:1");
			});

		script(type='text/javascript')
			var date_array = new Array();
		
			function leadingZeros(n, digits) {
				var zero = '';
				n = n.toString();
				if (n.length < digits) {
					for (i = 0; i < digits - n.length; i++)
						zero += '0';
				}
				return zero + n;
			}
		
			function getTimeStamp(date) {
				var d = new Date(date);
				var s = leadingZeros(d.getFullYear(), 4) + '-' + leadingZeros(d.getMonth() + 1, 2) + '-' + leadingZeros(d.getDate(), 2);
				return s;
			}
			
			$(document).ready(function(){
			
				var data = eval(!{JSON.stringify(docs)});
				$.each(data, function(index, value){
					var date = getTimeStamp(value.insert_date);
					var id = '#time' + index;
					var content = '<p>' + date + '</p>';
					$(id).append(content);
				});
				var data1 = eval(!{JSON.stringify(docs1)});
				$.each(data1, function(index, value){
					var date = getTimeStamp(value.insert_date);
					var id = '#time1' + index;
					var content = '<p>' + date + '</p>';
					$(id).append(content);
				});
				
			});

	#detail01
		#detail01Text
			#title
			#contents
				| 구름에 일반적인 사용에 대한 안내를 위한 구름 사용자 메뉴얼과 플러그인 개발 및 모듈 개발에 대한 안내를 위한 구름 개발자 메뉴얼을 다운 받을 수 있습니다.
	#detail02.userManual
		#boardTop
			#boardTitle
		#boardMiddle
			#boardList
				table(cellspacing='0')
					tr
						th.left
						th.title 파일 이름
						th.download 다운로드
						th.time 날짜
						th.readNum 조회수
						th.right
						-for(var i=0; i<paging; i++)
							-if(docs1[i]){
								tr
									td.left
									td.title
										a(href='/board/#{board_id}/#{docs1[i].index}', style="color:black;") #{docs1[i].subject}
									td.author
										-if(typeof(docs1[i].file.length) != "undefined" && typeof(docs1[i].file) != "undefined")
											-for(var j=0; j<docs1[i].file.length; j++)
												div
													a(href='#{docs1[i].file[j]}', style="color:black;")
														img#downloadImg(src='/images/button_download.png');
									td.time
										div('id'='time1'+i)
									td.readNum #{docs1[i].hit}
									td.right
							-}
				-if(session && (session.role == 'admin' || session.Id == 'superadmin'))
					div(style="text-align: right;top: 15;position: relative;")
						a(href="/board/usermanual")
							[게시판으로 이동]
		#boardBottom
			
			
	#detail02.developerManual
		#boardTop
			#boardTitle
		#boardMiddle
			#boardList
				table(cellspacing='0')
					tr
						th.left
						th.title 파일 이름
						th.download 다운로드
						th.time 날짜
						th.readNum 조회수
						th.right
						-for(var i=0; i<paging; i++)
							-if(docs[i]){
								tr
									td.left
									td.title
										a(href='/board/#{board_id}/#{docs[i].index}', style="color:black;") #{docs[i].subject}
									td.author
										ul(style="padding-left:0px;")
											-if(typeof(docs[i].file.length) != "undefined" && typeof(docs[i].file) != "undefined")
												-for(var j=0; j<docs[i].file.length; j++)
													li(style="list-style:none")
														a(href='#{docs[i].file[j]}', style="color:black;")
															img#downloadImg(src='/images/button_download.png');
									td.time
										div('id'='time'+i)
									td.readNum #{docs[i].hit}
									td.right
							-}
				-if(session && (session.role == 'admin' || session.Id == 'superadmin'))
					div(style="text-align: right;top: 15;position: relative;")
						a(href="/board/developermanual")
							[게시판으로 이동]
		#boardBottom
			
	script(src='../javascript/cloud.js', type='text/javascript', charset='utf-8')
	include ../common/footer.jade