html
	head
		title
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='stylesheet', type='text/css', href='/css/common.css')
		link(rel='stylesheet', type='text/css', href='/css/sub03/sub01.css')
		link(rel='stylesheet', type='text/css', href='/css/cloud.css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumPenWeb', rel='stylesheet', type='text/css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb', rel='stylesheet', type='text/css')
	body(oncontextmenu="return false",onselectstart="return false",ondragstart="return false")
		#viewport
			#world
		
		include ../common/header
		include ../common/mainMenu
		include ../common/subMenu/subMenu03.jade
		#detail03
			#boardTop
				#boardTitle Board
			#boardMiddle
				#wrap(style='margin-left: 10px;')
					#title 게시판 메인
					#contents					 
						div(style='width:760px;')
							table
								tr
									th.content No
									th.content id
									th.content Name
										-for(var i=docs.length; i>=0; i--)
											-if(docs[i-1]){
												tr
													td.content #{i}
													td.content 
														a(href='/board/' + docs[i-1].id) #{docs[i-1].id}
													td.content #{docs[i-1].name}	
											-}
							input( type ='button', id='logout_button', value='Logout', onClick='location.href="/logout"')
			#boardBottom
		include ../common/footer
		script(src='/javascript/cloud.js', type='text/javascript', charset='utf-8')