html
	head
		title
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='stylesheet', type='text/css', href='/css/common.css')
		link(rel='stylesheet', type='text/css', href='/css/sub03/write.css')
		link(rel='stylesheet', type='text/css', href='/css/cloud.css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumPenWeb', rel='stylesheet', type='text/css')
		link(href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="/lib/daumeditor-7.3.19/css/editor.css", type="text/css", charset="utf-8")
		script(src="http://code.jquery.com/jquery-1.7.2.min.js", type="text/javascript")
		script(src="/lib/daumeditor-7.3.19/js/editor_loader.js?environment=development", type="text/javascript", charset="utf-8")
		script(src='/javascript/editor_config.js', type='text/javascript', charset='utf-8')
	body
		#viewport
			#world
		
		include ../common/header
		include ../common/mainMenu
		include ../common/subMenu/subMenu03.jade
		
		script(src="/javascript/common.js")
		script(type='text/javascript')
			$(document).ready(function(){
				EditorJSLoader.ready(function(Editor) {
					editor = new Editor(config);
				});
    
				$.ajax({
					type:'post',
					dataType:"json",
					url:'/board_modify_ajax',
					data:{'ajax_id':'#{docs.board_id}', 'ajax_index':#{docs.index}},
					success: function(data){
						Editor.modify({
							content:data.content
						});
					},
					error: function(data, status, err){
						alert('content load fail!');
					}
				});
			});
			
			function saveContent() {
				Editor.save(); // 이 함수를 호출하여 글을 등록하면 된다.
			}
			
			function submit(){
				saveContent();
			}

		form(name="tx_editor_form", id="tx_editor_form", action ='/update', method='post', accept-charset="utf-8")	
			#detail03
				#boardTop
					#boardTitle Board
				#boardMiddle
					#editorHeader
						input(type='text',value=docs.subject, id='subject', name='subject', onFocus='form_delete()')
					#editorMiddle
						include ../../public/lib/daumeditor-7.3.19/editor_container
					#editorFooter
						input(type='hidden', name='index', value='#{docs.index}')
						input(type='hidden', name='board_id', value='#{docs.board_id}')
						a(href='javascript:submit();')
							img#submitButton(src='/images/button_submit.png')
				#boardBottom
		include ../common/footer
		script(src='/javascript/cloud.js', type='text/javascript', charset='utf-8')