script
	function search() {
		location.href="/board?id=#{board_id}&type="+document.getElementsByName("type")[0].value
						+"&content="+document.getElementsByName("content")[0].value;
	}

div#board
	div#boardTop
		div#boardTitle= title
	div#boardMiddle
		div#boardList
			table(cellspacing='0')
				tr
					th.no 번호
					th.title 제목
					th.author 글쓴이
					th.time 날짜
					th.readNum 조회수
					-for(var i=0; i<notice.length; i++)
						-if(notice[i])
							tr
								td.no 공지
								td.title 
									a(href='/board?id=#{board_id}&num=#{notice[i].index}', style="color:black;") #{notice[i].subject}
									a.replyNum [#{notice_comment_number[i]}]
								td.author #{notice[i].user_name}
								td.time #{notice[i].insert_date}
								td.readNum #{notice[i].hit}
					-for(var i=0; i<paging; i++)
						-if(docs[i]){
							tr
								td.no #{length - ( (current_page-1) * paging ) - i}
								td.title
									a(href='/board?id=#{board_id}&num=#{docs[i].index}', style="color:black;") #{docs[i].subject}	
									a.replyNum [#{comment_number[i]}]
								td.author #{docs[i].user_name}
								td.time #{docs[i].insert_date}
								td.readNum #{docs[i].hit}
						-}			
		div#boardFooter
			div#pagination
				a(href='/board?id=#{board_id}&type=#{type}&content=#{content}&page=1')	
					img(src='../images/board/button_forward.png')
					span 처음 페이지 |
				
				-current_page = parseInt(current_page);
				
				-for(var j= (current_page-2) ; j <= (current_page+2) ; j++) {
					-if(j>0 && j< ((length/paging)+1))
						-if(j == current_page)
							a(href='/board?id=#{board_id}&type=#{type}&content=#{content}&page=#{j}')
								b #{j} 
								|
						-else 
							a(href='/board?id=#{board_id}&type=#{type}&content=#{content}&page=#{j}') #{j} |
				-}
				-var last = Math.ceil(length/paging);
				a(href='/board?id=#{board_id}&type=#{type}&content=#{content}&page=#{last}')
					span 마지막 페이지
					img(src='../images/board/button_backward.png')

			div#search
				-if(type == 'name')
					select(id='type', name='type')
						option(value='Id') 아이디
						option(value='subject') 제목
						option(value='memo') 내용
						option(value='name', selected) 이름
				-else if(type == 'memo')
					select(id='type', name='type')
						option(value='Id') 아이디
						option(value='subject') 제목
						option(value='memo', selected) 내용
						option(value='name') 이름
				-else if(type == 'subject')
					select(id='type', name='type')
						option(value='Id') 아이디
						option(value='subject', selected) 제목
						option(value='memo') 내용
						option(value='name') 이름
				-else
					select(id='type', name='type')
						option(value='Id', selected) 아이디
						option(value='subject') 제목
						option(value='memo') 내용
						option(value='name') 이름
				input(type='text', name='content', id='content', value='#{content}')
				a(href='javascript:search();')
					img#searchButton(src='../images/board/button_search.png')
			a
				img(src='../images/board/button_write.png', id='writeButton', onClick="location.href='/write?id=#{board_id}'")
				
	div#boardBottom
	
input( type ='button', id='write_notice', value='Logout', onClick="location.href='/logout'")
p #{sessionId} 님이 로그인 하셨습니다.